<h1>Leaderboard</h1>

<p>Name - Record (Win - Loss - Tie)</p>

<ul id="leaderboard">
<% @users.each do |u| %>
<li><%= link_to u.name, u %> - <%= u.score.first %>/<%= u.score.second %>/<%= u.score.last%></li>
<% end %>
</ul>